<div class="main">
  <main class="container reg-box">
    <div class="reg-form">
      <div class="reg-title-box"><span>Регистрация</span></div>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

        <%= f.label :name do %>Имя<br />
          <%= f.text_field :name, :required => true, autocomplete: "off", placeholder: 'Ваше имя' %>
        <% end %>

        <%= f.label :email do%>Электронная почта<br />
          <%= f.email_field :email, :required => true,
                            :pattern => '[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$',
                            :placeholder => 'your-mail@example.com' %>
        <% end %>

        <%= f.label :password do %>Пароль<br />
          <%= f.password_field :password, autocomplete: "off", :required => true,
                               :pattern => '(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}',
                               :title => 'Должно содержать хотя бы одну цифру, заглавную и строчную буквы, и минимум 8 символов'
          %>
        <% end %>

        <%= f.label :password_confirmation do %>Повторите пароль<br />
          <%= f.password_field :password_confirmation, autocomplete: "off", :required => true,
                               :pattern => '(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}',
                               :title => 'Должно содержать хотя бы одну цифру, заглавную и строчную буквы, и минимум 8 символов'
          %>
        <% end %>
        <%= f.label :city_id do %>Город<br />
          <%= f.text_field :city_id, :required => true, autocomplete: "off", :list => 'city_datalist' %>
          <datalist id="city_datalist">
            <% City.all.each do |city| %>
              <option value="<%= city.id %>"><%= city.title %></option>
            <% end %>
          </datalist>
        <% end %>

        <%= f.submit 'Регистрация', :class => 'registration-btn' %>
      <% end %>
    </div>
  </main>
</div>
<!-- /.main -->