<div class="row">
  <div class="col-sm-12" id="main-header">
    <div class="row h-100">
      <div class="col-sm-12 align-self-center">
        <div class="w-50 mx-auto">

          <%= link_to 'Создайте свою незабываемую встречу', new_user_meeting_path, :class => 'btn btn-block', :id => 'main-header-button' %>

          <div id="main-header-sub-text" class="text-center">
            <a href="<%= user_meetings_path %>">Или присоединитесь к одной из <span class="font-weight-bold"><%= @count.to_s %></span> встреч!</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12" id="main-header-menu">
    <nav class="nav nav-fill">
      <a class="nav-item nav-link" href="#">Link</a>
      <a class="nav-item nav-link" href="#">Link</a>
      <a class="nav-item nav-link" href="#">Link</a>
      <a class="nav-item nav-link" href="#">Link</a>
      <a class="nav-item nav-link" href="#">Link</a>
      <a class="nav-item nav-link" href="#">Link</a>
    </nav>
  </div>
</div>
<div class="row">
  <div class="col-sm" id="main-city-meets">
    <div class="row">
      <div class="col-sm">
        <% if user_signed_in? %>
          <h1>Встречи в твоем городе</h1>
        <% else %>
          <h1>Встречи</h1>
        <% end %>
      </div>
    </div>

    <div class="row">


      <% @meets.each do |meet| %>

        <div class="col-sm">
          <div class="row">
            <div class="col-sm text-center meetings-image">
              <%= image_tag meet.image_url(:large), :class => 'img-fluid' unless meet.image.blank? %>
            </div>
          </div>
          <div class="row">
            <div class="col-sm text-center meeting-header">
              <h3><%= meet.title %></h3>
            </div>
          </div>
          <div class="row">
            <div class="col-sm text-center meeting-time"><%= meet.date_time_start %></div>
          </div>
          <div class="row">
            <div class="col-sm text-center meetings-description"><%= meet.address %></div>
          </div>
        </div>

      <% end %>


    </div>

  </div>

</div>


<div class="row" id="how-it-works">

  <div class="col-sm-12 text-center">
    <h2>Как это работает?</h2>
  </div>

  <div class="col-sm-2 how-it-works-step d-flex justify-content-center">
    <div class="how-it-works-circle text-center d-flex align-items-center">
        <div class="w-100">
          123
        </div>
    </div>
  </div>

  <div class="col-sm-2 how-it-works-step d-flex justify-content-center">
    <div class="how-it-works-circle text-center d-flex align-items-center">
      <div class="w-100">
        123
      </div>
    </div>
  </div>

  <div class="col-sm-2 how-it-works-step d-flex justify-content-center">
    <div class="how-it-works-circle text-center d-flex align-items-center">
      <div class="w-100">
        123
      </div>
    </div>
  </div>

  <div class="col-sm-2 how-it-works-step d-flex justify-content-center">
    <div class="how-it-works-circle text-center d-flex align-items-center">
      <div class="w-100">
        123
      </div>
    </div>
  </div>

  <div class="col-sm-2 how-it-works-step d-flex justify-content-center">
    <div class="how-it-works-circle text-center d-flex align-items-center">
      <div class="w-100">
        123
      </div>
    </div>
  </div>

  <div class="col-sm-2 how-it-works-step d-flex justify-content-center">
    <div class="how-it-works-circle text-center d-flex align-items-center">
      <div class="w-100">
        123
      </div>
    </div>
  </div>

</div>

<div class="row" id="main-interests-meets">
  <h1>Встречи по интересам</h1>
  <div class="col-sm-12 d-flex flex-wrap justify-content-between main-interests-group">

    <% @interests.each do |interest| %>
      <div class="main-interests-item d-flex justify-content-center align-items-center" style="background-image: url('<%= interest.image_url(:large) %>')">
        <h2><%= interest.title %></h2>
      </div>
    <% end %>

  </div>


</div>