<div class="main">
  <div class="content-inner container">
    <div class="col col_left">
      <div class="title-box">
        <span class="title">Поиск событий</span>
      </div>
      <!-- /.title-box -->
      <div class="find-events-box">
        <%= search_form_for @search, url: query_main_search_path, html: { method: :post } do |f| %>
          <p class="title">Ключевые слова</p>
          <%= f.label :title_or_description_cont do %>
            <%= f.search_field :title_or_description_cont, :class => 'find-input' %>
          <% end %>
          <p class="title">Интересы</p>
          <div class="box-radio">
            <div class="box-radio__col">

              <label>
                <input type="checkbox" checked>
                <span class="radio-btn"></span>
                Спорт
              </label>

              <label><input type="checkbox" checked><span class="radio-btn"></span>Спорт</label>
              <label><input type="checkbox" checked><span class="radio-btn"></span>Спорт</label>
              <label><input type="checkbox" checked><span class="radio-btn"></span>Спорт</label>
            </div>
            <!-- /.box-radio__col -->
            <div class="box-radio__col">
              <label><input type="checkbox"><span class="radio-btn"></span>Спорт</label>
              <label><input type="checkbox"><span class="radio-btn"></span>Спорт</label>
              <label><input type="checkbox"><span class="radio-btn"></span>Спорт</label>
              <label><input type="checkbox"><span class="radio-btn"></span>Спорт</label>
            </div>
            <!-- /.box-radio__col -->
          </div>
          <!-- /.box-radio -->
          <p class="title">Город</p>
          <%= f.label :city_id_eq do %>
            <%= f.search_field :city_title_eq, :class => 'find-input', :list => 'city_datalist', :autocomplete => false %>
            <datalist id="city_datalist">
              <% City.all.each do |city| %>
                <option value="<%= city.title %>"></option>
              <% end %>
            </datalist>
          <% end %>
          <%= f.submit 'Поиск', :class => 'find-btn' %>
        <% end %>
      </div>
      <!-- /.find-events-box -->
    </div>
    <!-- /.content-inner__col_left -->
    <div class="col col_right">
      <div class="title-box">
        <span class="title">События</span>
      </div>
      <!-- /.title-box -->
      <div class="events">

        <% @meets.each do |meet| %>
          <div class="events__item">
            <%= link_to user_meeting_path(meet) do %>
              <div style="background-image: url(<%= image_url meet.image %>); background-size: cover" class="events__item__img"></div>
            <% end %>
            <div class="events__item__text">
            <h2 class="event-title"><%= meet.title %></h2>
            <span class="event-description"><%= meet.description %></span>
            <time datetime="21 мая 2018 года 10:00" class="event-date"><%= meet.date_time_start %></time>
            <span class="event-place"><%= meet.address %></span>
          </div>
            <a href="#" class="events__item__img-account">
              <%= image_tag 'portrait.png', alt: 'event author portrait', class: 'portrait' %>
              <span class="name"><%= meet.user.name %></span>
            </a>
          </div>
          <!-- /.events__item -->
        <% end %>
      </div>
      <!-- /.events -->
    </div>
    <!-- /.content-inner__col_right -->
  </div>
  <!-- /.content-inner container -->
</div>
<!-- /.main -->