<div class="main">
  <main class="log-box container">
    <div class="log-form">
      <div class="log-title-box"><span>Вход</span></div>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <%= f.label :email do %>Электронная почта<br />
          <%= f.email_field :email, autofocus: true,
                            :pattern => '[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$',
                            :title => 'example@server.ru' %>
        <% end %>

        <%= f.label :password do %><br />
          <%= f.password_field :password, required: true, autocomplete: "off",
                               :pattern => '[a-zA-Z1-9]{6,40}',
                               :title => 'Должно содержать английские буквы и цифры, минимум 8 символов' %>
        <% end %>

        <%= f.submit 'Вход', :class => 'logon-btn' %>

      <% end %>
      <div class="social-logon">
        <a href="#" class="social-link"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a href="#" class="social-link"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      </div>
    </div>
  </main>
</div>
<!-- /.main -->